{% load staticfiles %}
<html>
  <head>
    <title>MisInfoTools: Shine</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
  </head>
  <body>
    <div>
      <h1><a href="/">MisInfoTools: Shine</a></h1>
    </div>
    
    {% for rumor in rumors %}
    <div>
      <p> {{ rumor.name }} </p>
    </div>
    {% endfor %}
  </body>
</html>
